@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 187 100% 42%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 231 48% 48%;
    --chart-1: 231 48% 48%;
    --chart-2: 187 100% 42%;
    --chart-3: 240 5% 65%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 224 71.4% 4.1%;
    --sidebar-primary: 231 48% 48%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 0 0% 96%;
    --sidebar-accent-foreground: 224 71.4% 4.1%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 231 48% 48%;
  }
  .dark {
    --background: 224 71% 10%;
    --foreground: 210 20% 98%;
    --card: 224 71% 15%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71% 10%;
    --popover-foreground: 210 20% 98%;
    --primary: 231 48% 58%;
    --primary-foreground: 0 0% 98%;
    --secondary: 215 28% 17%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 28% 17%;
    --muted-foreground: 215 16% 57%;
    --accent: 187 90% 52%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 231 48% 58%;
    --chart-1: 231 48% 58%;
    --chart-2: 187 90% 52%;
    --chart-3: 215 16% 57%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 224 71% 10%;
    --sidebar-foreground: 210 20% 98%;
    --sidebar-primary: 231 48% 58%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 215 28% 17%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 215 28% 17%;
    --sidebar-ring: 231 48% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
